<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>home</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="admin">
	<!-- Date: 2011-09-28 -->
</head>
<body>
Hello World! Go to locations! WHy does this not work???<br>
<li><%= link_to "Location", '#' %></li>
</body>
</html>
